In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv("video_game_sales.csv")

In [2]:
#Dataset overview
print(df.shape)
print(df.dtypes)
print(df.describe(include="all"))
print(df.isnull().sum())

(1907, 13)
index              int64
Rank               int64
Game Title        object
Platform          object
Year             float64
Genre             object
Publisher         object
North America    float64
Europe           float64
Japan            float64
Rest of World    float64
Global           float64
Review           float64
dtype: object
            index       Rank                  Game Title Platform  \
count   1907.0000  1907.0000                        1907     1907
unique        NaN        NaN                        1519       22
top           NaN        NaN  LEGO Batman: The Videogame      PS2
freq          NaN        NaN                           6      372
mean     953.0000   954.0000                         NaN      NaN
std      550.6478   550.6478                         NaN      NaN
min        0.0000     1.0000                         NaN      NaN
25%      476.5000   477.5000                         NaN      NaN
50%      953.0000   954.0000                         NaN      NaN
75%     1429.5000  1430.5000                         NaN      NaN
max     1906.0000  1907.0000                         NaN      NaN

               Year   Genre        Publisher  North America       Europe  \
count   1878.000000    1907             1905    1907.000000  1907.000000
unique          NaN      12               94            NaN          NaN
top             NaN  Sports  Electronic Arts            NaN          NaN
freq            NaN     308              341            NaN          NaN
mean    2003.766773     NaN              NaN       1.258789     0.706675
std        5.895369     NaN              NaN       1.956560     1.148904
min     1983.000000     NaN              NaN       0.000000     0.000000
25%     2000.000000     NaN              NaN       0.510000     0.230000
50%     2005.000000     NaN              NaN       0.810000     0.440000
75%     2008.000000     NaN              NaN       1.375000     0.810000
max     2012.000000     NaN              NaN      40.430000    28.390000

              Japan  Rest of World       Global       Review
count   1907.000000    1907.000000  1907.000000  1907.000000
unique          NaN            NaN          NaN          NaN
top             NaN            NaN          NaN          NaN
freq            NaN            NaN          NaN          NaN
mean       0.317493       0.206471     2.489240    79.038977
std        0.724945       0.343093     3.563159    10.616899
min        0.000000       0.000000     0.830000    30.500000
25%        0.000000       0.060000     1.110000    74.000000
50%        0.020000       0.130000     1.530000    81.000000
75%        0.300000       0.220000     2.540000    86.230000
max        7.200000       8.540000    81.120000    97.000000
index             0
Rank              0
Game Title        0
Platform          0
Year             29
Genre             0
Publisher         2
North America     0
Europe            0
Japan             0
Rest of World     0
Global            0
Review            0
dtype: int64

In [9]:
#Drop empty year entries and reassign dataypes
df = df.dropna(subset=['Year'])
df['Year'] = df['Year'].astype('int64')
object_col = df.select_dtypes(include=['object']).columns
df[object_col] = df[object_col].astype('string')

#Round float data types to 2 decimal places
float_col = df.select_dtypes(include=['float64']).columns
df[float_col] = df[float_col].round(2)

In [10]:
#Save and check new data
df.to_csv("new_video_game_sales.csv", index=False)
print(df.shape)
print(df.dtypes)
print(df.describe(include="all"))
print(df.isnull().sum())

(1878, 13)
index              int64
Rank               int64
Game Title        string
Platform          string
Year               int64
Genre             string
Publisher         string
North America    float64
Europe           float64
Japan            float64
Rest of World    float64
Global           float64
Review           float64
dtype: object
              index         Rank      Game Title Platform         Year  \
count   1878.000000  1878.000000            1878     1878  1878.000000
unique          NaN          NaN            1505       22          NaN
top             NaN          NaN  FIFA Soccer 08      PS2          NaN
freq            NaN          NaN               6      363          NaN
mean     950.716720   951.716720             NaN      NaN  2003.766773
std      550.234127   550.234127             NaN      NaN     5.895369
min        0.000000     1.000000             NaN      NaN  1983.000000
25%      474.250000   475.250000             NaN      NaN  2000.000000
50%      950.500000   951.500000             NaN      NaN  2005.000000
75%     1426.750000  1427.750000             NaN      NaN  2008.000000
max     1906.000000  1907.000000             NaN      NaN  2012.000000

         Genre        Publisher  North America       Europe        Japan  \
count     1878             1878    1878.000000  1878.000000  1878.000000
unique      12               94            NaN          NaN          NaN
top     Sports  Electronic Arts            NaN          NaN          NaN
freq       303              338            NaN          NaN          NaN
mean       NaN              NaN       1.262109     0.710517     0.320980
std        NaN              NaN       1.967797     1.155922     0.729295
min        NaN              NaN       0.000000     0.000000     0.000000
25%        NaN              NaN       0.510000     0.230000     0.000000
50%        NaN              NaN       0.820000     0.440000     0.020000
75%        NaN              NaN       1.377500     0.820000     0.307500
max        NaN              NaN      40.430000    28.390000     7.200000

        Rest of World       Global       Review
count     1878.000000  1878.000000  1878.000000
unique            NaN          NaN          NaN
top               NaN          NaN          NaN
freq              NaN          NaN          NaN
mean         0.207055     2.500532    79.038243
std          0.345141     3.587041    10.652957
min          0.000000     0.830000    30.500000
25%          0.060000     1.110000    74.000000
50%          0.130000     1.530000    81.095000
75%          0.220000     2.547500    86.265000
max          8.540000    81.120000    97.000000
index            0
Rank             0
Game Title       0
Platform         0
Year             0
Genre            0
Publisher        0
North America    0
Europe           0
Japan            0
Rest of World    0
Global           0
Review           0
dtype: int64